body {
  font-family: initial;
}

h1,
h2 {
  text-align: center;
  color: rgb(67, 61, 61);
}

form {
  text-align: center;
  margin-bottom: 30px;
}

#submit {
  color: blueviolet;
}

#screenshotContainer,
#savedScreenshotsContainer {
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  border: 2px solid #a75c5c;
  border-radius: 5px;
  margin-top: 20px;
}

#screenshotPreview {
  text-align: center;
  margin: 40px;
}

#savedScreenshotsList {
  list-style: none;
  padding: 0;
  margin: 40px;
}

#savedScreenshotsList li {
  margin-bottom: 10px;
}

#saveButton {
  margin-top: 10px;
  color: blueviolet;
}
